
.image {
  /*height: 100%;
  width: 100%;
  text-align: center;*/
}

.image img {
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 15px;
  filter: blur(15px);
  user-select: none;
}

.slider-wrapper {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

.slider {
  position: relative;
  height: 18px;
  border: 1px solid #f0f0f0;
  border-radius: 9px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  background: #fff;
}

.slider:before {
  content: "";
  position: absolute;
  width: 40px;
  left: 0;
  height: 40px;
  background: url(../images/hand.png) no-repeat;
  background-size: contain;
  z-index: 2;
  top: 20px;
  animation: hand 4s ease-in;
  animation-iteration-count:infinite;
}

.drugged .slider:before {
  display: none;
}

@keyframes hand {
  from {left: 2%}
  10% {left: 0}
  45% {opacity: 1}
  50% {left: 95%; opacity: 0;}
  99% {opacity: 0}
  to {left: 2%; opacity: 1;}
}

.handler {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -50%;
  margin-top: -2px;
  border-radius: 20px;
  margin-left: -20px;
  border: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  box-shadow: inset -1px -11px 32px rgba(0,0,0,0.2), 1px 1px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  user-select: none;
  user-focus: none;
  background: #3985c7;
  z-index: 1;
}

.handler:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
  background: #fff;
}

.handler.animated {
  transition: left 0.1s;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 9px;
  background: #3985c7 linear-gradient(to bottom, #3985c7, #3985c7);
}
